body {
    font-family: 'Nunito', sans-serif;
    background-image: url("Perfil Icone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-bottom: auto;
    background-color: rgb(31, 43, 59);
    
}

#chartD{
    max-height: 800px;
    max-width: 800px;
    min-height: 200px;
    min-width: 400px;
    border: 10px solid rgb(20, 152, 222);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 3px 5px 3px rgba(11, 15, 20, 0.719);    
    
}

#chart{
    padding: auto;
    margin: 10px;
    padding: 10px;
    border: 3px solid rgb(20, 152, 222);
    border-radius: 10px;
    visibility: visible;
}

#legenda{
    text-align: center;
    color: white;
}

#input{
    margin-left: 10px;
    
}

input[type="text"], textarea{
    color: rgb(20, 152, 222);
    border-color: rgb(20, 152, 222);
    box-shadow: 2px 2px 2px 1px rgba(11, 15, 20, 0.719);
    background-color: rgb(31, 63, 105);
    width:  770px;
    height: 20px;
    border-radius: 5px;
    
}

h1,h2{
    color: rgb(20, 152, 222);
    text-shadow: 3px 2px #000000;
    text-align: center;
    margin-top: 40px;
    padding: auto;
    
}

p{
    color: rgb(20, 152, 222);
    text-shadow: 1px 1px #000000;
}

h2{
    text-align: left;
    margin-left: 40px;
}

li{
    color: rgb(20, 152, 222);
    margin-left: 60px;
}

#button{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 152, 222);
    border: rgb(20, 152, 222);
    border-radius: 5px;
    padding: 5px;
    
}

#buttonD{
    text-align:center;
}

button{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 152, 222);
    border: rgb(20, 152, 222);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}

#legend1, #legend2{
    display: none;
}
